

<div class="text-white offset-2 mt-2 mb-4 btn-addItem">
    <a asp-controller="Movies" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New Movie
    </a>
</div>