@model Actor

@{
    ViewData["Title"] = "Actor Details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-info">Actor Details for @Model.FullName</h4>
        </p>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" id="ProfilePicturePreview" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ProfilePictureUrl" class="control-label"></label>
                    <input asp-for="ProfilePictureUrl" class="form-control" readonly />
                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-primary" asp-action="Index">Show All</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            let image = document.getElementById('ProfilePicturePreview');
            image.classList.add("img-actordetails-dimensions");
            image.src = "/images/actors/" + $("#ProfilePictureUrl").val();
        });
    </script>
}