@model Actor

@{
    ViewData["Title"] = "Update Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-info">Update Actor</h4>
        </p>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="ProfilePictureUrl" class="control-label"></label>
                        <input asp-for="ProfilePictureUrl" class="form-control" />
                        <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success" />
                        <a class="btn btn-outline-secondary float-end" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        let image = document.getElementById('ProfilePicturePreview');
        image.classList.add("img-actordetails-dimensions");
        $(document).ready(function () {
            image.src = "/images/actors/" + $("#ProfilePictureUrl").val();
        });

        $("#ProfilePictureUrl").on("change", function () {

            image.src = "/images/actors/" + $(this).val();
        });
    </script>
}