@model CinemaVM

@{
    ViewData["Title"] = "Add a new cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-info">Add a New Cinema</h4>
        </p>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" id="CinemaLogoPreview" />
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success " />
                        <a class="btn btn-outline-primary float-end" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        let image = document.getElementById('CinemaLogoPreview');
        image.classList.add("img-actordetails-dimensions");
        $(document).ready(function () {
            image.src = "/images/cinemas/" + $("#Logo").val();
        });

        $("#Logo").on("change", function () {
            image.src = "/images/cinemas/" + $(this).val();
        });
    </script>
}