html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.td-actions{
    width: 287px;
}

.img-movies{
    height: 300px;
    width: 200px;
}